@model IEnumerable<DataLayer.ShopCartItemViewModel>

@{
    DataLayer.JanaFandEntities db = new DataLayer.JanaFandEntities();
}

<div class="cart_box dropdown-menu dropdown-menu-right" id="ShowCart">
    <ul class="cart_list">
        @foreach (var item in Model)
        {

        <li>
            <a  onclick="CommandFactor(@item.ProductID,0)"  class="item_remove"><i class="ion-close"></i></a>
            <a href="#"><img src="~/Images/ProductImages/Thumb/@item.ImageName" alt="@item.Title">@item.Title </a>
            <p><span class="float-right">@item.Count x </span> <span class="float-right"> @item.Sum.ToString("#,0")</span></p>
        </li>
        }


    </ul>

    <div class="cart_footer">
        <br />
        <p class="cart_total">
            جمع کل : <span class="cart_amount"> <span class="price_symbole">@Model.Sum(p=>p.Sum).ToString("#,0") تومان</span></span>
        </p>
        <p class="cart_buttons">
            <a href="/ShopCart" class="btn btn-default btn-radius view-cart">مشاهده سبد خرید</a>

        </p>
    </div>

</div>







        @*<li>
            <a href="#" class="item_remove"><i class="ion-close"></i></a>
            <a href="#"><img src="assets/images/cart_thamb1.jpg" alt="cart_thumb1">نام محصول ارگانیک </a>
            <p><span class="float-right">1 x </span> <span class="float-right">1500 تومان</span></p>
        </li>
        <li>
            <a href="#" class="item_remove"><i class="ion-close"></i></a>
            <a href="#"><img src="assets/images/cart_thamb2.jpg" alt="cart_thumb2">نام محصول ارگانیک</a>
            <p><span class="float-right">1 x </span> <span class="float-right">1500 تومان</span></p>
        </li>
    </ul>
    <div class="cart_footer">
        <p class="cart_total">
            جمع کل : <span class="cart_amount"> <span class="price_symbole">2500 تومان</span></span>
        </p>
        <p class="cart_buttons">
            <a href="cart.html" class="btn btn-default btn-radius view-cart">مشاهده سبد خرید</a>
            <a href="checkout.html" class="btn btn-dark btn-radius checkout">پرداخت</a>
        </p>
    </div>*@
