@model IEnumerable<DataLayer.Product_Groups>



<table class="table table-bordered table-striped table-condensed">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GroupTitle)
        </th>
        <th>
            زیر گروه ها
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr id="Group_@(item.GroupID)">
            <td>
                @Html.DisplayFor(modelItem => item.GroupTitle)
            </td>
            <td>
                @if (item.Product_Groups1.Any())
                {
                    <ul>

                        @foreach (var subGroup in item.Product_Groups1)
                        {
                            <li id="Group_@(subGroup.GroupID)">

                                @subGroup.GroupTitle

                                <a class="text-warning" onclick="Edit(@subGroup.GroupID)">
                                    <i class="glyphicon glyphicon-edit"></i>
                                </a>
                                <a class="text-danger" onclick="Delete(@subGroup.GroupID)">
                                    <i class="glyphicon glyphicon-trash"></i>
                                </a>

                            </li>
                        }

                    </ul>
                }
            </td>
            <td>
                <a class="btn btn-primary btn-xs" onclick="Create(@item.GroupID)">
                    <i class="glyphicon glyphicon-plus"></i>
                </a>
                <a class="btn btn-warning btn-xs" onclick="Edit(@item.GroupID)">
                    <i class="glyphicon glyphicon-edit"></i>
                </a>
                <a class="btn btn-danger  btn-xs" onclick="Delete(@item.GroupID)">
                    <i class="glyphicon glyphicon-trash"></i>
                </a>
            </td>
        </tr>
    }

</table>
